body{
    background-image: linear-gradient(120deg , #EFEFBB, #D4D3DD);
    
}


p.mahmoud{
    min-height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;;
    opacity: 90%;
    color: #182848;
}
